<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translate Platform</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <section class="section-header">
        <div class="container">
            <button class="user-button icon">
            </button>
        </div>
    </section>
    <section class="section-user-menu">
        <button>로그인</button>
    </section>
    <section class="sectionA">
        <div class="container noselect">
            <h1>Translate Platfrom</h1>
            <div class="sub-container">
                <button id="create-room">새로운 방</button>
                <button id="join-room">참여하기</button>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        let userBtn = $('.user-button');
        let createBtn = $('#create-room');
        let joinBtn = $('#join-room');

        let ASection = $('.sectionA');
        let userMenuSection = $('.section-user-menu');

        let showUserMenu = false;

        createBtn.on('click', () => {
            location.href = "/rooms/create";
        });

        joinBtn.on('click', () => {
            const id = prompt('참여할 방의 아이디를 입력해주세요: ');
            console.log(id);
            if (id) {
                location.href = `/rooms/join?id=${id}`;
            }
        });

        userBtn.on('click', () => {
            console.log('user button click');
            userMenuSection.animate({ width: 'toggle' });
            showUserMenu = true;
        });

        ASection.on('click', () => {
            if (showUserMenu) {
                userMenuSection.animate({ width: 'toggle' });
            }
        })

    </script>
</body>

</html>