:root {
  --main-font-color: rgb(159, 244, 255);
  --main-background-color: #2b3a55;
}

body {
  margin: 0;
  background-color: var(--main-background-color);
  font-size: 16px;
}
meter {
  width: 100%;
  border-radius: 7px;
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}
select:hover {
  cursor: pointer;
}
button {
  border: none;
  background: none;
  background: white;
}

.horizonal-flex {
  display: flex;
}

.card {
  background-color: #3c5076;
  padding: 1rem;
  border-radius: 10px;
  margin: 0.5rem;
}

.flex-2 {
  flex: 2;
}

.flex-1 {
  flex: 1;
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 1rem;
}

.close-icon {
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
}

.invert {
  filter: invert(100%);
}

/* section-peer-list */
.section-peer-list {
  width: 20vw;
  min-height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.section-peer-list .status-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: white;
}
.section-peer-list .peer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.section-peer-list .wait-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.section-peer-list .a-user-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 0.5rem 0;
}
.section-peer-list .a-user-profile-group {
  display: flex;
  flex: 2;
  align-items: center;
}

.section-peer-list .profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.section-peer-list .profile-name {
  margin-left: 0.5rem;
  font-family: 'Nanum Gothic';
  color: white;
}
.section-peer-list button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.1rem;
  margin-left: 0.2rem;
  justify-content: flex-end;
  cursor: pointer;
}
.section-peer-list button:hover {
  opacity: 0.8;
}

.section-peer-list .approve-button {
  background-color: green;
}
.section-peer-list .reject-button {
  background-color: red;
}

/* maximized video secion */
.section-maximized-video {
  width: 100%;
  max-height: 80vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-maximized-video video {
  width: 100%;
  height: 80vh;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

.section-maximized-video .hidden-video {
  visibility: hidden;
}

/* videos section */
.video-section {
  max-width: 100%;
  min-height: 90vh;
  max-height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.video-container-group {
  display: grid;
  height: fit-content;
  padding-bottom: 15vh;
  grid-template-columns: repeat(auto-fit, minmax(25%, auto));
}

.video-container {
  border: 0.2px solid var(--main-font-color);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  min-height: 30vh;
}

.video-container .user-name {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-weight: bold;
  text-align: center;
  color: var(--main-font-color);
}

.video-container .buttons-container {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: none;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container .video-icons {
  padding-left: 0.8rem;
  width: 1.1rem;
  height: 1.1rem;
  background: none;
  cursor: pointer;
}

/* whole video */
.video-container-group video {
  width: 100%;
  background-color: black;
  height: auto;
  object-fit: contain;
  padding: 0;
  margin: 0;
}

.video-container-group .hidden-video {
  visibility: hidden;
}

/* 
* local video config menu 
*/
.local-config {
  position: fixed;
  min-height: 11vh;
  bottom: 0;
  width: 100%;

  background-color: var(--main-background-color);
  margin: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.local-config-container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.local-config-container button {
  display: inline-block;
  height: 100%;
  outline: none;
  background-color: rgb(37, 137, 146);
  border-radius: 50%;
  padding: 1em 1.1em;
  margin-left: auto;
  margin-right: auto;
}

.config-icon img {
  width: 25px;
  height: 25px;
  filter: invert(100%);
}
.bigger-icon img {
  width: 50px;
  height: 50px;
  filter: invert(100%);
}

.local-config-modal {
  position: absolute;
  display: none;
  width: 500px;
  height: 400px;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 20px;
}
.local-config-modal .container {
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#local-sound-meter {
  width: 60%;
  margin-bottom: 1rem;
}

.local-config-modal .select {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.local-config-modal .select span {
  color: rgb(6, 85, 6);
}

.local-config-modal .select select {
  height: 1.5em;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

/*

*/
.entrance-modal {
  position: absolute;
  display: flex;
  width: 500px;
  height: 400px;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  border-radius: 20px;
}
.entrance-modal .container {
  display: flex;
  width: 90%;
  height: 90%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

  border: 1px solid blue;
}

.entrance-modal .unit {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.entrance-modal .unit-password {
  display: none;
}

.entrance-modal .hidden {
  display: none;
}

.entrance-modal .show {
  display: flex;
}

.entrance-modal input {
  font-size: inherit;
  line-height: 1.7rem;
  padding: 0 0.5rem;
  border: 1px solid var(--main-background-color);
  border-radius: 6px;
}

.entrance-modal button {
  font-size: inherit;
  line-height: 1.7rem;
  color: white;
  background-color: var(--main-background-color);
  margin-top: 2rem;
  padding: 0.2rem;
  border-radius: 6px;
}

.entrance-modal .select span {
  color: rgb(6, 85, 6);
}

.entrance-modal .select select {
  height: 1.5em;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
